<p>Category</p>
<section class="grid-box1">
    {{#each productsCat}}
        <div class="grid-product">
            <p>
                Category: {{this.category}}
            </p>
            <img src="{{this.img}}" alt="Image Not Available"/>
    {{/each}}
</section>
<p>Best Sellers</p>
<section class="grid-box1">
    {{#each productsBS}}
        <div class="grid-product">
            <img src="{{this.img}}" alt="Image Not Available"/>            
            <p>
                Price: {{this.price}}
            </p>
        </div>
    {{/each}}
</section>