*
{
    padding:0;
    margin:0;
}


body
{
    font-size: 1.4rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: rgb(255,252,227);
}

h1,h2,h3
{
    margin-bottom: 16px;
}

p{
    margin-bottom: 8pxs;
}


main
{
    text-align: center;
    padding:16px 32px;
}
header
{    
    background-color: rgb(34, 180, 131);    
}

header h1 
{
    text-align: center;
    font-size:3rem;
    padding:10px;
    color:#fff;
}

nav
{
    background-color: rgb(34, 180, 131);
    justify-self: end;
}

nav > ul > li
{
    display: inline-block;
    padding: 16px 32px;
}

nav > ul > li > a 
{
    color:#fff;
    text-decoration: none;
}

footer
{
    background-color: rgb(34, 180, 131);
    color:#fff;
    font-size:10px;
    text-align: center;
    padding:16px 0px;
}
.bar a {
    display: inblock;
    text-align: center;
    padding: 15px;
    transition: all 1s ease;
    color: white;
    font-size: 20px;
}
.bar a:hover {
    background-color: rgb(110, 110, 110);
}
  
.facebook {
    background: rgb(56, 89, 158);
    color: white;
}
  
.twitter {
    background: rgb(99, 187, 255);
    color: white;
}  
.youtube {
    background: #e70000;
    color: white;
}
form{
    font-size: 1.5rem;
    width: 200px;
    text-align: left;
    margin: auto;
}
.banner{
    background: #e70000;
    font-style: italic;
    font-size: 60px;
    color: #fff;
    height: 40px; 
    padding:20px 0px;  
}

.grid-box {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-product1 {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 10px;   
    text-align: justify;     
    width: auto;
    height: auto;
}
.grid-product {
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 20px;
    font-size: 15px;
    text-align: center;
    height: auto;
}
.errors{
    font-size: small;
    font-weight: bold;
    color: red;
}